@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-oswald);

  --color-canvas: #5C2020;
  --color-primary: #EFEDE3;
  --color-black: #3D1515;
  --color-white: #FFFFFF;
}

@layer base {
  body {
    background-color: var(--color-canvas);
    color: var(--color-primary);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Global scrollbar refinement */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(61, 21, 21, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(61, 21, 21, 0.2);
}